<Context>
    <Valve className="com.radiadesign.catalina.session.RedisSessionHandlerValve" />
    <Manager className="com.radiadesign.catalina.session.RedisSessionManager"
             host="redis-ela.hxmkqr.ng.0001.apn2.cache.amazonaws.com"
             port="6379" <!-- Redis 서버 포트 -->
             database="0"
             maxInactiveInterval="60" />
</Context>
